@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

body {
  margin: 0;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: #000000;
}

.container1 {
  width: 100%;
  margin: 0;
  background-color: #ffffff;
}

.inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo,
#nav,
.btn,
.blocks {
  /*display: flex;*/
}
#logo1 {
  margin-left: 80px;
  color: #231F20;
  font-size: 18px;
  font-family: 'Homemade Apple', cursive;
}

.btn-finder {
  margin-right: 34px;
}
.menu {
  font-size: 18px;
  text-decoration: none;
  padding: 0 15.5px;
  border: 2px solid transparent;
  border-radius: 20px;
}
.menu:hover {
  border-color: blueviolet;
}
button {
  border-radius: 5px;
}
.blocks {
  display: flex;
  flex-wrap: wrap;
  background-color: #f1f1f2;
}

.block {
  width: 50%;
}

/*.blocks > div {
  display: flex;
  flex-direction: column;
  width: 50%;
}*/

.btn-more,
.btn-finder {
  width: 200px;
  height: 60px;
  color: #f7941e;
  border-color: #f7941e;
}

.btn-find-gift {
  width: 200px;
  height: 60px;
  /*border-color: #f7941e;*/
  border: none;
  background-color: #f7941e;
  color: #ffffff;
}

.btn-more,
.btn-find-gift {
  margin-bottom: 0;
}

.black {
  background-color: #000000;
  height: 48px;
}

.btn-how-it-works {
  width: 200px;
  height: 48px;
  background-color: transparent;
}

.textbox {
  display: flex;
  vertical-align: middle;
  position: relative;
  justify-content: center;
}

.inner-tb1 {
  vertical-align: middle;
  padding: 154px 162px 154px 135px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.inner-tb2 {
  vertical-align: middle;
  padding: 113px 162px 113px 135px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.find-a-gift {
  text-align: left;

  margin-top: 0;
  font-family: Gilroy;
  font-size: 56px;
  line-height: 69px;
  color: #000000;
}

.question {
  text-align: left;
  margin-top: 0;
  margin-bottom: 52px;
  font-family: Gilroy;
  font-size: 20px;
  line-height: 140.62%;
  color: #000000;
}

.how {
  font-family: Gilroy;
  font-size: 32px;
  line-height: 140.62%;
}
.how-expl {
  font-family: Gilroy;
  font-size: 20px;
  margin-bottom: 35px;
  line-height: 140.62%;
  text-align: justify;
}

.container3-text {
  margin: 96px auto 64px auto;
  text-align: center;
}

.suggestions {
  margin: 0 135px;
  padding-bottom: 137px;
  display: flex;
  justify-content: space-between;
}

.suggestions > div {
  background-color: #fafafa;
}

.suggestions > div:hover {
  background-color: #ffffff;
  box-shadow: 9px 9px 10px 2px rgba(34, 60, 80, 0.2);
}

.see-more {
  display: inline-block;
  font-size: 14px;
  margin: 74px 0 24px 24px;
  text-decoration: none;
}

h1 {
  font-size: 20px;
  margin-left: 24px;
}

.orange {
  background-color: #f7941e;
  height: 240px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.best-blog {
  height: 166px;
  display: flex;
}

.best-blog div {
  text-align: center;
  margin: auto auto 0 auto;
}

.best-blog h {
  font-size: 32px;
}
.best-blog p {
  font-size: 18px;
}

.JohnDoe {
  height: 370px;
  display: flex;
  margin: 78px 135px 40px 135px;
  background-color: #231f20;
}
.JohnDoe div {
  margin: auto auto auto 78px; /*64px*/
  color: #ffffff;
}


.JohnDoe p:first-of-type {
  font-size: 14px;
}
.JohnDoe p:last-of-type {
  font-size: 48px;
}

.JohnDoe a {
  color: #ffffff;
}

.cards {
  margin: 0 135px 80px 135px;
  display: flex;
  justify-content: space-between ;
}

.cards a{
  box-shadow: box-shadow: 5px 10px #888888;
}

.cards div {
  width: 570px;
  height: 290px;
  /*padding: 48px;
  position: relative; */
}

a {
  display: inline-block; /*?*/
  
}

.cards div:hover {
  box-shadow: 16px 16px 16px 0px #a0a3a5;
}

.cards h4 {
  font-size: 24px;
}

.cards p:first-of-type {
  font-size: 18px;
}

.cards p:last-of-type {
  font-size: 14px;
 /* position: absolute;
  bottom: 0;*/
}

#bottom-menu {
  margin: 115px 20% 52px 20%;
  
}
#nav2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  text-align: center;
}

#nav2 p {
  display: inline-block;
}

#logo2 {
  margin-left: 40px;
  margin-right: 40px;
  color: #F7941E;
  font-family: 'Homemade Apple', cursive;
  font-size: 18px;
}

hr {
  width: 70vw;
  height: 2px;
  color: #000000;
  background-color: #000000;
}

.sosial {
  text-align: center;
}

.sosial a {
  margin: 40px 13px;
}

#copyright {
  text-align: center;
  margin-top: 72px;
  margin-bottom: 35px;
} 