body {
  margin: 0;
}

.container1 {
  width: 100%;
  margin: 0;
}

.inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo, #nav, .btn, .blocks {
  /*display: flex;*/
}
 #logo {
  margin-left: 80px;
 }
 .btn-finder{
  margin-right: 34px;
 }
a {
  font-size: 18px;
  text-decoration: none;
  padding: 0 15.5px;
  border: 2px solid transparent;
  border-radius: 20px;
}
a:hover {
  border-color: blueviolet;
}
.btn {
  cursor: zoom-in;
}
 .blocks {
  display: flex;
  flex-wrap: wrap;  
 }

.blocks > div {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.btn-more, .btn-finder {
  width: 200px;
  height: 60px;
  color: #F7941E;
  border-color: #F7941E;
}

.btn-now {
  width: 200px;
  height: 60px;
  border-color: #F7941E;
  background-color: #F7941E;
  color: #FFFFFF;
}

.textbox {
  display: flex;
  vertical-align: middle;
  position: relative;
  justify-content: center;
}

.inner-tb1 {
  
  vertical-align: middle;
  padding: 154px 162px 154px 135px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.inner-tb2 {
  
  vertical-align: middle;
  padding: 113px 162px 113px 135px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.find-a-gift {
  text-align: left;
 
  font-family: Gilroy;
  font-size: 56px;
  line-height: 69px;
  color: #000000;
}

.question {
  text-align: left;

  font-family: Gilroy;
  font-size: 20px;
  line-height: 140.62%;
  color: #000000;
}

.how {
  font-family: Gilroy;
  font-size: 32px;
  line-height: 140.62%;
}
.how-expl {
font-family: Gilroy;
font-size: 20px;
line-height: 140.62%;
text-align: justify;
}

img {
height: 80vh;
}